torch
importlib_metadata
huggingface_hub
scipy
opencv-python-headless
filelock
numpy
Pillow
einops
torchvision
pyyaml
scikit-image
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
piexif
